@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lexend:300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Gilroy_I";
  src: local("../fonts/Gilroy Light Italic"), local("../fonts/Gilroy-Light-Italic"), url("../fonts/Gilroy-LightItalic.woff2") format("woff2"), url("../fonts/Gilroy-LightItalic.woff") format("woff"), url("../fonts/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy_R";
  src: local("../fonts/Gilroy Regular "), local("../fonts/Gilroy-Regular"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy_SB";
  src: local("../fonts/Gilroy-Semibold"), local("../fonts/Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy_B";
  src: local("../fonts/Gilroy-Bold"), local("../fonts/Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
}
[class*=__container] {
  max-width: 114.375rem;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: calc(15px + (35 - 15) * ((100vw - 320px) / (1920 - 320)));
  padding-right: calc(15px + (35 - 15) * ((100vw - 320px) / (1920 - 320)));
}

body {
  font-size: 1.125rem;
  font-family: "Work+Sans";
  background: #272727;
  color: #ffffff;
  position: relative;
  z-index: 100;
}

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
  transition: 0.5s all;
}

.dark {
  opacity: 0.2;
  transition: 0.5s all;
}

.page {
  flex: 1 1 auto;
}

.header__burger {
  display: none;
}
@media (max-width: 767.98px) {
  .header__burger {
    grid-column: 5/6;
    display: block;
    position: relative;
    z-index: 3;
    width: 1.875rem;
    height: 1.25rem;
    z-index: 3;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    left: 0;
    top: 0.5625rem;
    transition: all 0.3s ease 0s;
  }
}

.header__burger.open-menu:before {
  transform: rotate(45deg);
  top: 0.5625rem;
}

.header__burger.open-menu:after {
  transform: rotate(-45deg);
  bottom: 0.5625rem;
}

.header__burger.open-menu span {
  transform: scale(0);
}

.title {
  color: #e8e8e8;
  font-family: "Gilroy_B";
  font-size: calc(24px + 46 * ((100vw - 320px) / 1830));
  line-height: 1.1142857143;
}
@media (min-width: 768px) {
  .title {
    font-size: calc(24px + 46 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .title {
    font-size: 70px;
  }
}

.text {
  font-size: calc(14px + 4 * ((100vw - 320px) / 1830));
  line-height: 1.6;
  color: #e8e8e8;
}
@media (min-width: 768px) {
  .text {
    font-size: calc(14px + 4 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .text {
    font-size: 18px;
  }
}

.back-to-top {
  width: 50px;
  height: 50px;
  background-color: #3a3a3a;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  bottom: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
  cursor: pointer;
  z-index: 20;
  opacity: 0.7;
  transition: 0.3s all ease 0s;
}
@media (max-width: 991.98px) {
  .back-to-top {
    bottom: -3.125rem;
  }
}
@media (max-width: 767.98px) {
  .back-to-top {
    display: none;
  }
}
.back-to-top.back {
  bottom: 80px;
}
@media (max-width: 991.98px) {
  .back-to-top.back {
    bottom: 1.875rem;
  }
}
.back-to-top:hover {
  opacity: 1;
  transition: 0.3s all ease 0s;
  background-color: #d6ac12;
}

.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.slide-in-top {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(100px);
    transition: 0.5s all ease 0s;
  }
  100% {
    transform: translateY(0);
    transition: 0.5s all ease 0s;
  }
}
.my__popup {
  position: fixed;
  width: 35%;
  top: 12.5rem;
  left: 32%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
  z-index: 100;
}
@media (max-width: 991.98px) {
  .my__popup {
    top: 9.375rem;
  }
}
.my__popup.open {
  opacity: 1;
  visibility: visible;
  transition: 0.5s all;
}

.popup__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.popup__body {
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

.popup__content {
  background-color: white;
  color: #000;
  max-width: 800px;
  position: relative;
  padding-top: 3.125rem;
  padding-left: calc(20px + (130 - 20) * ((100vw - 320px) / (1920 - 320)));
  padding-right: calc(20px + (130 - 20) * ((100vw - 320px) / (1920 - 320)));
}

.popup__close {
  position: absolute;
  right: -4.375rem;
  top: -1.875rem;
  font-size: 1.875rem;
  color: #f1be06;
  transition: 0.3s all ease 0s;
  z-index: 20;
}
@media (max-width: 450px) {
  .popup__close {
    right: -1.5625rem;
    font-size: 1.5625rem;
  }
}
.popup__close:hover {
  color: #c09a0f;
  transition: 0.3s all ease 0s;
}

.popup__title {
  font-family: "Gilroy_B";
  font-size: calc(30px + 18 * ((100vw - 320px) / 1830));
  line-height: 1.2379166667;
  text-align: center;
  margin-bottom: 0.4375rem;
}
@media (min-width: 768px) {
  .popup__title {
    font-size: calc(30px + 18 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .popup__title {
    font-size: 48px;
  }
}

.popup__subtitle {
  font-size: 1.25rem;
  line-height: 1.173;
  text-align: center;
  margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
}

.form-popup {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 20;
}

.form-popup__input {
  font-size: 1rem;
  line-height: 1.2;
  border-bottom: 1px solid #929292;
  padding: 0.9375rem 0;
}

.form-popup__input_last {
  margin-bottom: calc(20px + (56 - 20) * ((100vw - 320px) / (1920 - 320)));
}

.form-popup__btn {
  background-color: #fcd54c;
  padding: 1.0625rem 0;
  font-weight: 600;
  font-size: 1.125rem;
  color: #000000;
  line-height: 1.319375;
  display: inline-block;
  width: 13.5rem;
  margin: 0 auto;
  margin-bottom: calc(30px + (44 - 30) * ((100vw - 320px) / (1920 - 320)));
  transition: 0.5s background-color ease 0s;
}
.form-popup__btn:hover {
  background-color: #d4ad1f;
  transition: 0.3s background-color ease 0s;
}

.header {
  position: relative;
  z-index: 50;
}
@media (max-width: 767.98px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.header__container {
  display: flex;
  min-height: 6.8125rem;
  align-items: center;
}
@media (max-width: 1000px) {
  .header__container {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
}
@media (max-width: 767.98px) {
  .header__container {
    grid-template-columns: 1fr;
    -moz-column-gap: 0.9375rem;
         column-gap: 0.9375rem;
    min-height: 5rem;
    padding-top: 0.625rem;
    margin-bottom: 0.9375rem;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
@media (max-width: 1000px) {
  .header__logo {
    grid-column: 1/2;
    margin-top: 0.9375rem;
  }
}
@media (max-width: 767.98px) {
  .header__logo {
    margin-top: 0rem;
    margin-bottom: 0.9375rem;
  }
}

.header__logo_image img {
  max-width: 100%;
}

.header__logo_text {
  color: #ffffff;
  margin-left: -1.5625rem;
}
.header__logo_text p {
  font-weight: 400;
  font-size: 0.6875rem;
  opacity: 0.6;
  transition: 0.3s all ease 0s;
}
.header__logo_text p:hover {
  color: #fcd54c;
  transition: 0.3s all ease 0s;
}
.header__logo_text p:first-child {
  font-family: "Gilroy_B";
  font-size: calc(18px + 10 * ((100vw - 320px) / 1830));
  line-height: 1.2378571429;
  opacity: 1;
}
@media (min-width: 768px) {
  .header__logo_text p:first-child {
    font-size: calc(18px + 10 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .header__logo_text p:first-child {
    font-size: 28px;
  }
}

.header__menu {
  flex: 1 1 auto;
  margin-left: calc(30px + (153 - 30) * ((100vw - 320px) / (1920 - 320)));
  margin-right: 0.9375rem;
}
@media (max-width: 1165px) {
  .header__menu {
    margin-left: 1.25rem;
  }
}
@media (max-width: 767.98px) {
  .header__menu {
    margin-left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #272727;
    transition: all 0.8s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 1.25rem;
    overflow: auto;
  }
  .header__menu:before {
    content: "";
    position: fixed;
    width: 100%;
    min-height: 5rem;
    left: 0;
    top: 0;
    background-color: #272727;
    z-index: 5;
  }
}
@media (max-width: 650px) {
  .header__menu {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header__menu.open-menu {
  left: 0;
  transition: all 0.8s ease 0s;
}

.menu__list {
  display: flex;
  -moz-column-gap: calc(30px + (45 - 30) * ((100vw - 320px) / (1920 - 320)));
       column-gap: calc(30px + (45 - 30) * ((100vw - 320px) / (1920 - 320)));
  flex-wrap: wrap;
  row-gap: 0.9375rem;
}
@media (max-width: 1165px) {
  .menu__list {
    -moz-column-gap: 1.5625rem;
         column-gap: 1.5625rem;
  }
}
@media (max-width: 767.98px) {
  .menu__list {
    flex-direction: column;
  }
}
@media (max-width: 650px) {
  .menu__list {
    flex: 1 1 auto;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-left: 1.875rem;
  }
}

.menu__item {
  position: relative;
}
@media (max-width: 650px) {
  .menu__item:last-child:after {
    content: "";
    width: 80%;
    height: 1px;
    background-color: #f1be06;
    position: absolute;
    bottom: -5.625rem;
    left: 0;
  }
}

.menu__link {
  font-family: "Gilroy_SB";
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.1721428571;
  text-transform: uppercase;
  transition: 0.5s color ease 0s;
  position: relative;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 2.25rem;
  }
}
.menu__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.4375rem;
  width: 100%;
  height: 0.25rem;
  background-color: #fcd54c;
  transform-origin: center;
  transform: scale(0);
  transition: 0.3s all ease 0s;
}
@media (max-width: 767.98px) {
  .menu__link:after {
    display: none;
  }
}
.menu__link:hover {
  color: #fcd54c;
  transition: 0.5s color ease 0s;
}
.menu__link:hover::after {
  transform: scale(1);
  transition: 0.3s all ease 0s;
}

.menu__link-sub {
  position: relative;
  display: inline-block;
  margin-bottom: -0.625rem;
  transition: 0.5s margin-bottom;
}
@media (max-width: 767.98px) {
  .menu__link-sub._active {
    transition: 0.5s margin-bottom ease 0s;
    margin-bottom: 6.25rem;
  }
}

.menu__arrow {
  position: absolute;
  top: 0.4375rem;
  right: -0.9375rem;
}
@media (max-width: 767.98px) {
  .menu__arrow {
    left: 4.6875rem;
    top: 1.125rem;
    padding: 0 10px;
  }
}
.menu__arrow._active {
  transform: rotate(-180deg);
  top: -0.3125rem;
}
@media (max-width: 767.98px) {
  .menu__arrow._active {
    right: 3.75rem;
    top: 0.5rem;
  }
}
@media (max-width: 650px) {
  .menu__arrow._active {
    position: relative;
    left: 0rem;
    top: 1.25rem;
  }
  .menu__arrow._active:after {
    content: "";
    position: absolute;
    top: -2.1875rem;
    left: 0rem;
    background: url(../img/icons/snape__menu-act.svg) 100% 100% no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    overflow: visible;
  }
  .menu__arrow._active img {
    opacity: 0;
  }
}

.sub-menu__list {
  width: 17.5rem;
  position: absolute;
  top: 2.5rem;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #979797;
  padding: 0.625rem 0;
  transition: 0.5s all ease 0s;
  z-index: 3;
  background-color: #272727;
}
@media (max-width: 767.98px) {
  .sub-menu__list {
    border: none;
    padding-top: 1.25rem;
    margin-left: 0.9375rem;
  }
}
.sub-menu__list._active {
  opacity: 1;
  visibility: visible;
  transition: 0.5s all ease 0s;
}

.sub-menu__link {
  font-family: "Gilroy_SB";
  display: block;
  font-size: 1.125rem;
  color: #ffffff;
  line-height: 0.9527777778;
  padding: 0.625rem;
  transition: 0.3s all ease 0s;
}
@media (max-width: 767.98px) {
  .sub-menu__link {
    font-size: 0.875rem;
    padding: 0.3125rem;
  }
}
.sub-menu__link:hover {
  background-color: #fcd54c;
  width: 100%;
  color: #272727;
  font-weight: 600;
  transition: 0.3s all ease 0s;
}

.header__button {
  font-weight: 600;
  font-size: 0.75rem;
  color: #000000;
  padding: 0.75rem 0.875rem;
  background-color: #fcd54c;
  transition: 0.5s all ease 0s;
  position: relative;
  z-index: 3;
  line-height: 1.1733333333;
}
.header__button:hover {
  background-color: #f1be06;
  transition: 0.5s all ease 0s;
}
@media (max-width: 1000px) {
  .header__button {
    padding: 0.75rem 0.625rem;
  }
}
@media (max-width: 767.98px) {
  .header__button {
    padding: 0.625rem 1.25rem;
  }
}
@media (max-width: 650px) {
  .header__button {
    display: none;
  }
}

.header__language {
  font-family: "Gilroy_SB";
  margin-left: calc(30px + (119 - 30) * ((100vw - 320px) / (1920 - 320)));
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 1165px) {
  .header__language {
    margin-left: 1.25rem;
  }
}
@media (max-width: 1000px) {
  .header__language {
    position: relative;
    bottom: 0.625rem;
  }
}
@media (max-width: 767.98px) {
  .header__language {
    bottom: 0;
  }
}
@media (max-width: 650px) {
  .header__language {
    display: none;
  }
}
.header__language a {
  color: #e8e8e8;
  transition: 0.3s all ease 0s;
}
.header__language a:hover {
  color: #f1be06;
  transition: 0.3s all ease 0s;
}
.header__language a:first-child {
  color: #f1be06;
}

.header__number {
  font-family: "Gilroy_SB";
  margin-left: calc(30px + (93 - 30) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.225;
  color: #ffffff;
  transition: 0.5s color ease 0s;
}
@media (max-width: 1165px) {
  .header__number {
    margin-left: 1.25rem;
  }
}
@media (max-width: 1000px) {
  .header__number {
    grid-column: 4/5;
    position: relative;
    bottom: 2.625rem;
  }
}
@media (max-width: 767.98px) {
  .header__number {
    bottom: 0;
  }
}
@media (max-width: 650px) {
  .header__number {
    display: none;
  }
}
.header__number:hover {
  color: #fcd54c;
  transition: 0.5s color ease 0s;
}

.header__button-hid,
.header__language-hid,
.header__number-hid {
  display: block;
  align-self: center;
  margin-left: 0;
}
@media (min-width: 650px) {
  .header__button-hid,
  .header__language-hid,
  .header__number-hid {
    display: none;
  }
}

.header__button-hid {
  padding: 0.75rem 1.4375rem;
  font-size: 0.875rem;
  margin-bottom: 2.375rem;
  position: relative;
}

.header__number-hid {
  margin-bottom: 2.375rem;
}

.header__language-hid {
  font-weight: 600;
  margin-bottom: 1.875rem;
}
@media (max-width: 650px) {
  .header__language-hid {
    display: flex;
    -moz-column-gap: 0.9375rem;
         column-gap: 0.9375rem;
  }
}

@media (max-width: 767.98px) {
  .header-block {
    margin-top: 6.25rem;
  }
}

.header__tabs_body {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .header__tabs_body {
    margin-bottom: 1.25rem;
  }
}

.header-tabs__navigation {
  display: flex;
  align-self: flex-end;
  width: 61%;
  background-color: #272727;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  padding: 3.5625rem 0;
  margin-top: -10.3125rem;
  position: relative;
  z-index: 3;
  justify-content: space-around;
}
@media (max-width: 1199.98px) {
  .header-tabs__navigation {
    padding: 2.1875rem 0;
    margin-top: -7.5rem;
    width: 70%;
  }
}
@media (max-width: 991.98px) {
  .header-tabs__navigation {
    margin-top: -4.25rem;
    padding: 0.9375rem 0;
  }
}
@media (max-width: 767.98px) {
  .header-tabs__navigation {
    margin-top: 0;
    align-self: flex-start;
    width: 100%;
    justify-content: space-between;
    -moz-column-gap: 0.9375rem;
         column-gap: 0.9375rem;
  }
}

.header-tabs-link {
  display: flex;
  color: #ffffff;
  align-items: center;
  -moz-column-gap: 2.3125rem;
       column-gap: 2.3125rem;
  transition: 0.5s color;
  padding: 0 0.625rem;
}
@media (max-width: 1199.98px) {
  .header-tabs-link {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
@media (max-width: 991.98px) {
  .header-tabs-link {
    -moz-column-gap: 0.625rem;
         column-gap: 0.625rem;
  }
}
@media (max-width: 767.98px) {
  .header-tabs-link {
    flex-direction: column;
    row-gap: 1.25rem;
    align-items: flex-start;
    padding: 0;
  }
}
.header-tabs-link:hover {
  color: #fcd54c;
  transition: 0.5s color ease 0s;
}
.header-tabs-link--active {
  color: #f1be06;
}

.header-tabs-link__number {
  font-family: "Gilroy_B";
  font-size: calc(40px + 20 * ((100vw - 320px) / 1830));
  line-height: 0.4;
  align-self: center;
}
@media (min-width: 768px) {
  .header-tabs-link__number {
    font-size: calc(40px + 20 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .header-tabs-link__number {
    font-size: 60px;
  }
}
@media (max-width: 1199.98px) {
  .header-tabs-link__number {
    font-size: 3rem;
  }
}
@media (max-width: 991.98px) {
  .header-tabs-link__number {
    font-size: 2.5rem;
  }
}
@media (max-width: 767.98px) {
  .header-tabs-link__number {
    font-size: 2.5rem;
    align-self: flex-start;
  }
}

.header-tabs-link__item {
  display: flex;
  flex-direction: column;
}

.header-tabs-link__text {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.625;
}
@media (max-width: 991.98px) {
  .header-tabs-link__text {
    font-size: 0.75rem;
  }
}
@media (max-width: 767.98px) {
  .header-tabs-link__text {
    font-size: 0.625rem;
  }
}

@media (max-width: 767.98px) {
  .header__tabs_block {
    margin-bottom: 1.25rem;
  }
}

.header-tabs-block {
  display: none;
}
.header-tabs-block--active {
  animation: 1s scale-up-center;
  display: block;
}

.header__slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.header-slide__image {
  position: relative;
  width: 100%;
  padding-bottom: 53%;
}
@media (max-width: 767.98px) {
  .header-slide__image {
    padding-bottom: 65%;
  }
}
@media (max-width: 560px) {
  .header-slide__image {
    padding-bottom: 85%;
  }
}
@media (max-width: 420px) {
  .header-slide__image {
    padding-bottom: 99%;
  }
}
.header-slide__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  z-index: 1;
  opacity: 0.8;
}

.header-slide__text {
  margin-left: 24%;
  margin-top: 9%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
@media (max-width: 1050.98px) {
  .header-slide__text {
    margin-top: 5%;
  }
}
@media (max-width: 991.98px) {
  .header-slide__text {
    margin-left: 5%;
  }
}
@media (max-width: 767.98px) {
  .header-slide__text {
    margin-left: 5%;
    margin-top: 8%;
  }
}
.header-slide__text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 7.75rem;
  height: 0.25rem;
  background-color: #fcd54c;
}
.header-slide__text:after {
  content: "";
  position: absolute;
  left: 0;
  width: 7.75rem;
  height: 0.3125rem;
  background-color: #fcd54c;
  bottom: 0;
}

.line {
  position: absolute;
  left: 0;
  width: 0.25rem;
  height: 100%;
  background-color: #fcd54c;
  bottom: 0;
}

.header-slide__label {
  margin-top: 2.125rem;
  font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
  line-height: 0.733125;
  margin-left: 1.5rem;
  text-transform: uppercase;
}
.header-slide__label:not(:last-child) {
  margin-bottom: 1.25rem;
}

.header-slide__title {
  font-family: "Space+Grotesk";
  font-weight: 700;
  font-size: calc(30px + 66 * ((100vw - 320px) / 1830));
  line-height: 1.0416666667;
  text-transform: capitalize;
  max-width: 40.625rem;
  margin-left: 1.5rem;
}
@media (min-width: 768px) {
  .header-slide__title {
    font-size: calc(30px + 66 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .header-slide__title {
    font-size: 96px;
  }
}
@media (max-width: 1199.98px) {
  .header-slide__title {
    max-width: 31.25rem;
  }
}
@media (max-width: 991.98px) {
  .header-slide__title {
    font-size: 3.4375rem;
    max-width: 25rem;
  }
}
@media (max-width: 767.98px) {
  .header-slide__title {
    max-width: calc(220px + (750 - 220) * ((100vw - 320px) / (1920 - 320)));
    font-size: calc(30px + (108 - 30) * ((100vw - 320px) / (1920 - 320)));
  }
}
.header-slide__title span {
  color: #fcd54c;
}
.header-slide__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.header-slide__subtitle {
  display: inline-block;
  font-weight: 700;
  margin-left: 1.5rem;
  font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
  line-height: 1.173125;
  margin-bottom: 2.25rem;
  position: relative;
  color: #ffffff;
  transition: 0.3s all ease 0s;
}
.header-slide__subtitle:after {
  content: "";
  position: absolute;
  top: 0;
  right: -0.9375rem;
  background: url(../img/header-block/snape.svg) right no-repeat;
  width: 100%;
  height: 100%;
  transition: 0.3s all ease 0s;
}
.header-slide__subtitle:hover {
  color: #fcd54c;
  transition: 0.3s all ease 0s;
}
.header-slide__subtitle:hover:after {
  display: none;
  transition: 0.3s all ease 0s;
}

.header-slide__social {
  position: absolute;
  z-index: 4;
  right: 2%;
  top: 3%;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
@media (max-width: 767.98px) {
  .header-slide__social {
    top: 5%;
  }
}
@media (max-width: 400px) {
  .header-slide__social {
    display: none;
  }
}

.header-social__item a {
  display: inline-block;
  transition: 0.3s all ease 0s;
}
.header-social__item a:hover {
  transform: scale(1.3);
  transition: 0.3s all;
}

.header__slider__navigation {
  position: relative;
  margin-left: 25%;
  margin-right: 1.25rem;
  transform: translateY(-70px);
  font-family: "Gilroy_B";
  width: 9.375rem;
  height: 100%;
  z-index: 3;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #ffffff;
}
@media (max-width: 1199.98px) {
  .header__slider__navigation {
    margin-left: 10%;
  }
}
@media (max-width: 991.98px) {
  .header__slider__navigation {
    font-size: 1.25rem;
    width: 7.5rem;
    transform: translateY(-40px);
  }
}
@media (max-width: 350px) {
  .header__slider__navigation {
    font-size: 0.75rem;
    transform: translateY(-20px);
  }
}

.header__slider__prev {
  color: #ffffff;
  position: relative;
}
.header__slider__prev:hover {
  color: #fcd54c;
}

.swiper-button-prev span {
  color: #ffffff;
}
.swiper-button-prev:after {
  display: none;
}

.header__slider__next:before {
  content: "";
  position: absolute;
  left: -2.5rem;
  top: 1rem;
  width: 0.125rem;
  height: 30%;
  background-color: #ffffff;
}
@media (max-width: 991.98px) {
  .header__slider__next:before {
    left: -1.5625rem;
    top: 1.0625rem;
  }
}
.header__slider__next span {
  color: #ffffff;
}

.swiper-button-next:after {
  display: none;
}

.swiper-button-prev.swiper-button-disabled.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled.swiper-button-next.swiper-button-disabled {
  color: #ffffff;
  opacity: 0.6;
}

.projects {
  margin-top: calc(40px + (98 - 40) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(40px + (98 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.projects__title {
  margin-bottom: calc(30px + (77 - 30) * ((100vw - 320px) / (1920 - 320)));
  text-align: center;
}

.projects__tabs_navigation {
  display: flex;
  -moz-column-gap: calc(20px + (34 - 20) * ((100vw - 320px) / (1920 - 320)));
       column-gap: calc(20px + (34 - 20) * ((100vw - 320px) / (1920 - 320)));
  justify-content: flex-end;
  margin-bottom: 1.875rem;
}
@media (max-width: 767.98px) {
  .projects__tabs_navigation {
    justify-content: center;
  }
}

.projects__tabs_link {
  font-weight: 600;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  color: #ffffff;
  line-height: 1.3125;
  transition: 0.5s all;
}
.projects__tabs_link--active1 {
  color: #fcd54c;
  transition: 0.5s all;
}
.projects__tabs_link:hover {
  color: #fcd54c;
  transition: 0.3s all;
}

.projects__tabs_body {
  align-self: flex-start;
  justify-content: flex-start;
}

.projects__tabs_block {
  display: none;
}
.projects__tabs_block--active1 {
  display: block;
  animation: 1s scale-up-center;
}

.projects__wrapper {
  margin-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
}

.projects-slide {
  position: relative;
}

.projects-slide__image {
  position: relative;
  width: 100%;
}
.projects-slide__image:hover {
  position: relative;
  z-index: 1;
}
.projects-slide__image img {
  max-width: 100%;
}

.projects-slide__title {
  position: absolute;
  left: 2.5rem;
  bottom: 2.4375rem;
  font-family: "Gilroy_B";
  font-size: 2rem;
  color: #ffffff;
  line-height: 1.40625;
}

.projects-slide__item {
  position: absolute;
  top: 0;
  padding-top: calc(20px + (45 - 20) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(20px + (45 - 20) * ((100vw - 320px) / (1920 - 320)));
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  background-color: #fcd54c;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  color: #272727;
  opacity: 0;
  transition: 0.5s all ease 0s;
  cursor: pointer;
  z-index: 5;
}
.projects-slide__item:hover {
  animation: 1s scale-up-center;
  opacity: 1;
  transition: 0.5s all ease 0s;
}

.projects-slide__image .slide-item:hover {
  display: block;
}

.slide-item__title {
  font-family: "Gilroy_B";
  font-size: calc(25px + 7 * ((100vw - 320px) / 1830));
  line-height: 1.40625;
}
@media (min-width: 768px) {
  .slide-item__title {
    font-size: calc(25px + 7 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .slide-item__title {
    font-size: 32px;
  }
}

.slide-item__text {
  align-self: center;
  font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
  line-height: 1.1818181818;
}
@media (max-width: 479px) {
  .slide-item__text {
    font-size: 1.25rem;
  }
}

.slide-item__link {
  justify-content: flex-end;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.163;
  color: #272727;
  transition: 0.5s color;
  position: relative;
}
.slide-item__link:after {
  content: "";
  position: absolute;
  right: -6.25rem;
  top: 0.25rem;
  background: url(../img/icons/snape.svg) no-repeat;
  width: 100%;
  height: 100%;
}
.slide-item__link:hover {
  color: #ffffff;
  transition: 0.5s color;
}
.slide-item__link:hover:after {
  display: none;
  transition: 0.5s color;
}

span.swiper-pagination-bullet-active {
  background-color: #c09a0f;
  width: 0.8125rem;
  height: 0.8125rem;
}

span.swiper-pagination-bullet {
  width: 0.8125rem;
  height: 0.8125rem;
}

.expertise {
  margin-top: calc(40px + (98 - 40) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(40px + (98 - 40) * ((100vw - 320px) / (1920 - 320)));
}

@media (max-width: 767.98px) {
  .expertise__container {
    padding-left: 0;
    padding-right: 0;
  }
}

.expertise__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: calc(40px + (89 - 40) * ((100vw - 320px) / (1920 - 320)));
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
@media (max-width: 991.98px) {
  .expertise__item {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767.98px) {
  .expertise__item {
    padding-left: calc(15px + (35 - 15) * ((100vw - 320px) / (1920 - 320)));
    padding-right: calc(15px + (35 - 15) * ((100vw - 320px) / (1920 - 320)));
  }
}

.expertise__label {
  font-size: calc(14px + 4 * ((100vw - 320px) / 1830));
  line-height: 1.6;
  color: #fcd54c;
}
@media (min-width: 768px) {
  .expertise__label {
    font-size: calc(14px + 4 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .expertise__label {
    font-size: 18px;
  }
}
.expertise__label:not(:last-child) {
  margin-bottom: calc(10px + (40 - 10) * ((100vw - 320px) / (1920 - 320)));
}

.expertise__title {
  max-width: 45.625rem;
  grid-column: 1/2;
}
@media (max-width: 991.98px) {
  .expertise__title:not(:last-child) {
    margin-bottom: calc(10px + (33 - 10) * ((100vw - 320px) / (1920 - 320)));
  }
}

.expertise__video {
  position: relative;
  width: 100%;
  padding-bottom: 51%;
}
.expertise__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.limit {
  margin-top: calc(40px + (98 - 40) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(40px + (98 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.limit__info {
  border: 1px solid #fcd54c;
  max-width: 67.5rem;
  margin: 0 auto;
  padding-top: calc(22px + (70 - 22) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(22px + (70 - 22) * ((100vw - 320px) / (1920 - 320)));
  padding-left: calc(25px + (95 - 25) * ((100vw - 320px) / (1920 - 320)));
  padding-right: calc(25px + (95 - 25) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(40px + (64 - 40) * ((100vw - 320px) / (1920 - 320)));
}
.limit__info p {
  font-family: "Gilroy_R";
  font-size: calc(16px + 14 * ((100vw - 320px) / 1830));
  line-height: 1.6;
}
@media (min-width: 768px) {
  .limit__info p {
    font-size: calc(16px + 14 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .limit__info p {
    font-size: 30px;
  }
}
.limit__info span {
  color: #fcd54c;
  font-style: italic;
}

.limit__items {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}
@media (max-width: 767.98px) {
  .limit__items {
    flex-direction: column;
    align-items: center;
  }
}

.limit__image {
  margin-bottom: calc(20px + (70 - 20) * ((100vw - 320px) / (1920 - 320)));
}
.limit__image img {
  max-width: 100%;
}

.limit__text {
  max-width: 33.9375rem;
}

.contact {
  margin-top: calc(40px + (98 - 40) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(40px + (98 - 40) * ((100vw - 320px) / (1920 - 320)));
  text-align: center;
}

@media (max-width: 767.98px) {
  .contact__container {
    padding: 0;
  }
}

.contact__wrapper {
  background: url(../img/contact/01.jpg) no-repeat;
  padding-top: calc(50px + (85 - 50) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(50px + (85 - 50) * ((100vw - 320px) / (1920 - 320)));
}

.contact__text {
  color: #272727;
  font-weight: 600;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1830));
  line-height: 1.6;
}
@media (min-width: 768px) {
  .contact__text {
    font-size: calc(12px + 6 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .contact__text {
    font-size: 18px;
  }
}
.contact__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.contact__title {
  font-size: calc(50px + 70 * ((100vw - 320px) / 1830));
  font-family: "Gilroy_B";
  line-height: 0.575;
  color: #272727;
}
@media (min-width: 768px) {
  .contact__title {
    font-size: calc(50px + 70 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .contact__title {
    font-size: 120px;
  }
}
.contact__title:not(:last-child) {
  margin-bottom: calc(24px + (54 - 24) * ((100vw - 320px) / (1920 - 320)));
}

.form-contact {
  display: flex;
  justify-content: center;
}

.form-contact__input {
  padding-top: calc(13px + (25 - 13) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(13px + (25 - 13) * ((100vw - 320px) / (1920 - 320)));
  padding-left: calc(14px + (42 - 14) * ((100vw - 320px) / (1920 - 320)));
  font-size: 1rem;
  line-height: 1.1733333333;
  color: #272727;
}
.form-contact__input::-moz-placeholder {
  font-size: 0.75rem;
}
.form-contact__input::placeholder {
  font-size: 0.75rem;
}
.form-contact__input:focus {
  border: 0.1875rem solid #000000;
}
@media (max-width: 400px) {
  .form-contact__input {
    padding: 0;
    width: 11.75rem;
    height: 2.5625rem;
    padding-left: 0.875rem;
  }
}

.form-contact__button {
  background-color: #272727;
  padding: 1.375rem 4.0625rem;
  font-weight: 600;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.1728571429;
  transition: 0.5s all;
}
.form-contact__button:hover {
  background-color: #fcd54c;
  color: #272727;
  transition: 0.5s all;
}
@media (max-width: 400px) {
  .form-contact__button {
    width: 6.625rem;
    height: 2.5625rem;
    padding: 0;
  }
}

.articles {
  margin-top: calc(40px + (98 - 40) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(40px + (98 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.articles__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: calc(40px + (90 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.articles__link {
  font-family: "Gilroy_SB";
  font-size: 1rem;
  line-height: 1.3125;
  color: #929292;
  transition: 0.5s color;
  position: relative;
  display: inline-block;
}
.articles__link:after {
  content: "";
  position: absolute;
  right: -1.875rem;
  top: 0.0625rem;
  background: url(../img/icons/snape__grey.svg) right no-repeat;
  width: 100%;
  height: 100%;
}
@media (max-width: 767.98px) {
  .articles__link:after {
    right: -0.9375rem;
  }
}
.articles__link:hover:after {
  display: none;
  transition: 0.5s color;
}
.articles__link:hover {
  color: #fcd54c;
  transition: 0.5s color;
}

.articles__items {
  display: flex;
  justify-content: center;
  -moz-column-gap: calc(15px + (35 - 15) * ((100vw - 320px) / (1920 - 320)));
       column-gap: calc(15px + (35 - 15) * ((100vw - 320px) / (1920 - 320)));
  width: 100%;
  margin-bottom: calc(50px + (170 - 50) * ((100vw - 320px) / (1920 - 320)));
}
@media (max-width: 767.98px) {
  .articles__items {
    flex-direction: column;
    row-gap: 0.9375rem;
  }
}

.articles__item {
  position: relative;
}

.articles__image {
  position: relative;
  width: 100%;
}
@media (max-width: 767.98px) {
  .articles__image {
    padding-bottom: 90%;
    display: inline-block;
  }
}
.articles__image img {
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .articles__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.articles__label {
  position: absolute;
  left: calc(15px + (38 - 15) * ((100vw - 320px) / (1920 - 320)));
  bottom: calc(20px + (53 - 20) * ((100vw - 320px) / (1920 - 320)));
  font-family: "Gilroy_B";
  font-size: calc(18px + 7 * ((100vw - 320px) / 1830));
  line-height: 1.4;
  color: #ffffff;
}
@media (min-width: 768px) {
  .articles__label {
    font-size: calc(18px + 7 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .articles__label {
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .articles__label {
    font-size: 1rem;
    left: 0.625rem;
    bottom: 0.625rem;
  }
}
@media (max-width: 500px) {
  .articles__label {
    display: none;
  }
}

.hover-articles {
  position: absolute;
  top: 0;
  padding-top: calc(0px + (40 - 0) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  background: #272727;
  border: 1px solid #fcd54c;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  color: #272727;
  opacity: 0;
  transition: 0.5s all ease 0s;
  cursor: pointer;
  z-index: 5;
}
.hover-articles:hover {
  animation: 1s scale-up-center;
  opacity: 1;
  transition: 0.5s all ease 0s;
}
@media (max-width: 767.98px) {
  .hover-articles {
    width: 100%;
    padding-top: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
  }
}

.hover-articles__label {
  font-size: 1rem;
  line-height: 1.625;
  color: #ffffff;
}
@media (max-width: 767.98px) {
  .hover-articles__label {
    font-size: calc(20px + 5 * ((100vw - 320px) / 1830));
  }
}
@media (max-width: 767.98px) and (min-width: 768px) {
  .hover-articles__label {
    font-size: calc(20px + 5 * (100vw / 1830));
  }
}
@media (max-width: 767.98px) and (min-width: 1830px) {
  .hover-articles__label {
    font-size: 25px;
  }
}

.hover-articles__title {
  font-family: "Gilroy_B";
  color: #ffffff;
  font-size: calc(10px + 15 * ((100vw - 320px) / 1830));
  line-height: 1.40625;
}
@media (min-width: 768px) {
  .hover-articles__title {
    font-size: calc(10px + 15 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .hover-articles__title {
    font-size: 25px;
  }
}
@media (max-width: 767.98px) {
  .hover-articles__title {
    font-size: calc(22px + 43 * ((100vw - 320px) / 1830));
  }
}
@media (max-width: 767.98px) and (min-width: 768px) {
  .hover-articles__title {
    font-size: calc(22px + 43 * (100vw / 1830));
  }
}
@media (max-width: 767.98px) and (min-width: 1830px) {
  .hover-articles__title {
    font-size: 65px;
  }
}

.hover-articles__text {
  align-self: center;
  font-size: calc(12px + (22 - 12) * ((100vw - 320px) / (1920 - 320)));
  line-height: 1.1818181818;
  color: #929292;
}
@media (max-width: 767.98px) {
  .hover-articles__text {
    font-size: calc(20px + 25 * ((100vw - 320px) / 1830));
  }
}
@media (max-width: 767.98px) and (min-width: 768px) {
  .hover-articles__text {
    font-size: calc(20px + 25 * (100vw / 1830));
  }
}
@media (max-width: 767.98px) and (min-width: 1830px) {
  .hover-articles__text {
    font-size: 45px;
  }
}

.hover-articles__link {
  justify-content: flex-end;
  font-weight: 700;
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
  line-height: 1.163;
  color: #929292;
  transition: 0.5s color;
  position: relative;
}
.hover-articles__link:after {
  content: "";
  position: absolute;
  right: -6.875rem;
  top: 0.3125rem;
  background: url(../img/icons/snape__grey.svg) no-repeat;
  width: 100%;
  height: 100%;
}
@media (max-width: 767.98px) {
  .hover-articles__link:after {
    top: 0.25rem;
    right: -6.25rem;
  }
}
.hover-articles__link:hover {
  color: #fcd54c;
  transition: 0.5s color;
}
.hover-articles__link:hover:after {
  display: none;
  transition: 0.5s color;
}

.articles__wrapper {
  padding-top: 3.5rem;
  margin-bottom: calc(50px + (57 - 50) * ((100vw - 320px) / (1920 - 320)));
  display: flex;
  justify-content: flex-start;
}

.articles-slide__item {
  border: 1px solid #fcd54c;
  padding-left: 1.9375rem;
  padding-bottom: 1.4375rem;
  position: relative;
}
.articles-slide__item:after {
  content: "";
  position: absolute;
  top: -5.625rem;
  right: 2.5rem;
  background: url(../img/icons/kav.svg) right no-repeat;
  width: 100%;
  height: 100%;
}

.articles-slide__photo {
  position: relative;
  margin-top: -3.5rem;
  margin-bottom: calc(40px + (48 - 40) * ((100vw - 320px) / (1920 - 320)));
}
.articles-slide__photo img {
  border-radius: 50%;
  max-width: 100%;
}

.articles-slide__info:not(:last-child) {
  margin-bottom: calc(20px + (34 - 20) * ((100vw - 320px) / (1920 - 320)));
}

.articles-slide__name {
  font-family: "Gilroy_B";
  font-size: calc(23px + 2 * ((100vw - 320px) / 1830));
  line-height: 1.2088;
  color: #ffffff;
}
@media (min-width: 768px) {
  .articles-slide__name {
    font-size: calc(23px + 2 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .articles-slide__name {
    font-size: 25px;
  }
}
.articles-slide__name:not(:last-child) {
  margin-bottom: 1.1875rem;
}

.articles-slide__job {
  font-size: 1rem;
  line-height: 1.173125;
  color: #929292;
}
.articles-slide__job a {
  display: inline-block;
  margin-left: 0.25rem;
  color: #ffffff;
  transition: 0.5s all ease 0s;
  position: relative;
  z-index: 10;
}
.articles-slide__job a:hover {
  color: #fcd54c;
  transition: 0.5s all;
}

.articles-slide__text {
  font-size: 1rem;
  line-height: 1.625;
  color: #929292;
  max-width: 21.875rem;
}

.faq {
  margin-top: calc(40px + (98 - 40) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(40px + (98 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.faq__title {
  margin-bottom: 1.25rem;
}

.spoiler-faq {
  max-width: 69.375rem;
}

.spoiler-faq__item {
  border-top: 1px solid #929292;
  border-bottom: 1px solid #929292;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.spoiler-faq__link {
  font-size: calc(12px + 6 * ((100vw - 320px) / 1830));
  line-height: 1.4625;
  color: #ffffff;
  transition: 0.5s all;
  position: relative;
  display: block;
  margin-right: 30px;
  transition: 0.5s all ease 0s;
  cursor: pointer;
}
@media (min-width: 768px) {
  .spoiler-faq__link {
    font-size: calc(12px + 6 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .spoiler-faq__link {
    font-size: 18px;
  }
}
.spoiler-faq__link:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0rem;
  background: url(../img/icons/spoiler/snape.svg) right no-repeat;
  width: 100%;
  height: 100%;
}
@media (max-width: 490px) {
  .spoiler-faq__link:after {
    transform: translateX(50px);
    margin-right: 20px;
  }
}
.spoiler-faq__link:hover {
  color: #fcd54c;
  transition: 0.5s all;
}
.spoiler-faq__link.hidden:after {
  background: url(../img/icons/spoiler/snape-act.svg) right no-repeat;
}
@media (max-width: 490px) {
  .spoiler-faq__link {
    max-width: 21.25rem;
  }
}
.spoiler-faq__link.hidden:hover {
  transition: 0.5s all ease 0s;
}

.spoiler-faq__block {
  margin-top: 2.0625rem;
  margin-bottom: 1.25rem;
  display: none;
}

.spoiler-faq__text {
  font-size: 0.875rem;
  line-height: 1.6;
  color: #929292;
}

.footer {
  margin-top: calc(0px + (70 - 0) * ((100vw - 320px) / (1920 - 320)));
}

.footer__top {
  padding-top: calc(40px + (70 - 40) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(20px + (98 - 20) * ((100vw - 320px) / (1920 - 320)));
  border-top: 1px solid #929292;
  border-bottom: 1px solid #929292;
}

.top-footer__logo {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  justify-content: center;
  margin-bottom: calc(40px + (50 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.top-footer__logo_image img {
  max-width: 100%;
}

.top-footer__logo_text {
  color: #ffffff;
  margin-left: -1.5625rem;
}
.top-footer__logo_text p {
  font-weight: 400;
  font-size: 0.6875rem;
  opacity: 0.6;
  transition: 0.3s all ease 0s;
}
.top-footer__logo_text p:hover {
  color: #fcd54c;
  transition: 0.3s all ease 0s;
}
.top-footer__logo_text p:first-child {
  font-family: "Gilroy_B";
  font-size: calc(18px + 10 * ((100vw - 320px) / 1830));
  line-height: 1.2378571429;
  opacity: 1;
}
@media (min-width: 768px) {
  .top-footer__logo_text p:first-child {
    font-size: calc(18px + 10 * (100vw / 1830));
  }
}
@media (min-width: 1830px) {
  .top-footer__logo_text p:first-child {
    font-size: 28px;
  }
}

.top-footer__items {
  display: flex;
  gap: 1.875rem;
}
@media (max-width: 767.98px) {
  .top-footer__items {
    display: none;
  }
}

.top-footer__item {
  position: relative;
  flex: 0 1 20%;
}

.top-footer__title {
  font-size: 1.125rem;
  line-height: 1.1727777778;
  color: #e8e8e8;
  margin-bottom: 2.5rem;
  display: inline-block;
}

.top-footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.top-footer__link {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.1727777778;
  color: #929292;
  transition: 0.5s color;
}
.top-footer__link:hover {
  color: #fcd54c;
  transition: 0.5s color;
}

.top-footer__button {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fcd54c;
  padding: 0.75rem 1.125rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.1728571429;
  color: #272727;
  transition: 0.5s all;
  flex: 1 1 auto;
}
.top-footer__button:hover {
  background: #e9ba0f;
  transition: 0.5s all;
}

@media (min-width: 767.98px) {
  .footer__top-spoiler {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .top-spoiler__link {
    font-size: 1.125rem;
    line-height: 1.1727777778;
    color: #e8e8e8;
    margin-bottom: 2.5rem;
    display: inline-block;
    margin-bottom: 0.9375rem;
    border-bottom: 1px solid #3a3a3a;
    display: block;
    padding-bottom: 0.9375rem;
    position: relative;
    cursor: pointer;
  }
  .top-spoiler__link:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0rem;
    background: url(../img/icons/spoiler/snape.svg) right no-repeat;
    width: 100%;
    height: 100%;
  }
  .top-spoiler__link:hover {
    color: #fcd54c;
    transition: 0.5s all;
  }
  .top-spoiler__link.hidden:after {
    background: url(../img/icons/spoiler/snape-act.svg) right no-repeat;
  }
  .top-spoiler__link.hidden:hover {
    transition: 0.5s all ease 0s;
  }
}

@media (max-width: 767.98px) {
  .footer-spoiler__block {
    position: relative;
    display: none;
  }
}

@media (max-width: 767.98px) {
  .top-footer__list {
    padding-top: 0.9375rem;
    padding-bottom: 1.5625rem;
  }
}

@media (max-width: 767.98px) {
  .top-footer__button {
    right: 0;
    left: auto;
  }
}
@media (max-width: 450px) {
  .top-footer__button {
    display: block;
    position: relative;
    text-align: center;
  }
}

.bottom-footer {
  padding: 1.875rem 0;
}
@media (max-width: 767.98px) {
  .bottom-footer {
    padding: 1.25rem 0;
  }
}

.bottom-footer__container {
  display: flex;
  justify-content: space-between;
  gap: 0.9375rem;
}
@media (max-width: 500px) {
  .bottom-footer__container {
    flex-direction: column;
    align-items: center;
  }
}

.bottom-footer__copy {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #929292;
}

.social-footer {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}

.social-footer__item img {
  max-width: 100%;
  transition: 0.3s all ease 0s;
}
.social-footer__item img:hover {
  transform: scale(1.2);
  transition: 0.3s all ease 0s;
}